#import sickbeard
#set global $title="Config - Notifications"
#set global $header="Notifications"

#set global $sbPath="../.."

#set global $topmenu="config"#
#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/configNotifications.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<div id="config">
    <div id="config-content">
        <form id="configForm" action="saveNotifications" method="post">
            <div id="config-components">
				<ul>
					<li><a href="#tabs-1">Home Theater / NAS</a></li>
					<li><a href="#tabs-2">Devices</a></li>
					<li><a href="#tabs-3">Social</a></li>
				</ul>

                <div id="tabs-1">

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://www.plexapp.com/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/plex.png" alt="" title="Plex Media Server"/> Plex Media Server </a></h3>
                        <p>Experience your media on a visually stunning, easy to use interface on your Mac connected to your TV. Your media library has never looked this good!</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_plex" id="use_plex" #if $sickbeard.USE_PLEX then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_plex">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should SickRage send Plex commands?</span>
                            </label>
                        </div>

                        <div id="content_use_plex">
                            <div class="field-pair">
                                <input type="checkbox" name="plex_notify_onsnatch" id="plex_notify_onsnatch" #if $sickbeard.PLEX_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="plex_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="plex_notify_ondownload" id="plex_notify_ondownload" #if $sickbeard.PLEX_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="plex_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="plex_update_library" id="plex_update_library" #if $sickbeard.PLEX_UPDATE_LIBRARY then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="plex_update_library">
                                    <span class="component-title">Update Library</span>
                                    <span class="component-desc">Update Plex Media Server library when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Plex Media Server IP:Port</span>
                                    <input type="text" name="plex_server_host" id="plex_server_host" value="$sickbeard.PLEX_SERVER_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Host running Plex Media Server (eg. 192.168.1.100:32400)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Plex Client IP:Port</span>
                                    <input type="text" name="plex_host" id="plex_host" value="$sickbeard.PLEX_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Host running Plex Client (eg. 192.168.1.100:3000)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Plex Client Username</span>
                                    <input type="text" name="plex_username" id="plex_username" value="$sickbeard.PLEX_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your Plex client API (blank for none)</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Plex Client Password</span>
                                    <input type="password" name="plex_password" id="plex_password" value="$sickbeard.PLEX_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Password of your Plex client API (blank for none)</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testPLEX-result">Click below to test.</div>
                            <input  class="btn" type="button" value="Test Plex Media Server" id="testPLEX" />
                            <input type="submit" class="config_submitter btn" value="Save Changes" />
                        </div><!-- /content_use_plex -->

                    </fieldset>
                </div><!-- /plex component-group -->

                </div><!-- /component-group //-->

			<!--/div-->

			
			<div id="tabs-2">

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="https://new.boxcar.io/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/boxcar2.png" alt="" title="Boxcar2"/> Boxcar2 </a></h3>
                        <p>Read your messages where and when you want them!</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_boxcar2" id="use_boxcar2" #if $sickbeard.USE_BOXCAR2 then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_boxcar2">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should SickRage Boxcar2 notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_boxcar2">
                            <div class="field-pair">
                                <input type="checkbox" name="boxcar2_notify_onsnatch" id="boxcar2_notify_onsnatch" #if $sickbeard.BOXCAR2_NOTIFY_ONSNATCH then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="boxcar2_notify_onsnatch">
                                    <span class="component-title">Notify on Snatch</span>
                                    <span class="component-desc">Send notification when we start a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="boxcar2_notify_ondownload" id="boxcar2_notify_ondownload" #if $sickbeard.BOXCAR2_NOTIFY_ONDOWNLOAD then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="boxcar2_notify_ondownload">
                                    <span class="component-title">Notify on Download</span>
                                    <span class="component-desc">Send notification when we finish a download?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Boxcar2 Access Token</span>
                                    <input type="text" name="boxcar2_accesstoken" id="boxcar2_accesstoken" value="$sickbeard.BOXCAR2_ACCESSTOKEN" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Access Token for your Boxcar2 account</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testBoxcar2-result">Click below to test.</div>
                            <input  class="btn" type="button" value="Test Boxcar2" id="testBoxcar2" />
                            <input type="submit" class="config_submitter btn" value="Save Changes" />
                        </div><!-- /content_use_boxcar2 //-->

                    </fieldset>
                </div><!-- /boxcar2 component-group //-->

			</div>
			
            <div id="tabs-3">

                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <h3><a href="http://trakt.tv/" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;"><img src="$sbRoot/images/notifiers/trakt.png" alt="" title="Trakt"/> Trakt </a></h3>
                        <p>trakt helps keep a record of what TV shows and movies you are watching. Based on your favorites, trakt recommends additional shows and movies you'll enjoy!</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_trakt" id="use_trakt" #if $sickbeard.USE_TRAKT then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_trakt">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should SickRage send Trakt.tv notifications?</span>
                            </label>
                        </div>

                        <div id="content_use_trakt">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt Username</span>
                                    <input type="text" name="trakt_username" id="trakt_username" value="$sickbeard.TRAKT_USERNAME" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Username of your Trakt account.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt Password</span>
                                    <input type="password" name="trakt_password" id="trakt_password" value="$sickbeard.TRAKT_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Password of your Trakt account.</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Trakt API key:</span>
                                    <input type="text" name="trakt_api" id="trakt_api" value="$sickbeard.TRAKT_API" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Get your key at: <a href="http://trakt.tv/settings/api" rel="noreferrer" onclick="window.open('${sickbeard.ANON_REDIRECT}' + this.href, '_blank'); return false;">http://trakt.tv/settings/api</a></span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" class="enabler" name="trakt_sync" id="trakt_sync" #if $sickbeard.TRAKT_SYNC then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="trakt_sync">
                                    <span class="component-title">Sync Libraries:</span>
                                    <span class="component-desc">Syncs SickRage's show library with your trakt.tv show library</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" class="enabler" name="trakt_use_recommended" id="trakt_use_recommended" #if $sickbeard.TRAKT_USE_RECOMMENDED then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="trakt_use_recommended">
                                    <span class="component-title">Use Recommended Shows:</span>
                                    <span class="component-desc">Adds ability to add recommended shows from trakt.tv</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" class="enabler" name="trakt_use_watchlist" id="trakt_use_watchlist" #if $sickbeard.TRAKT_USE_WATCHLIST then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="trakt_use_watchlist">
                                    <span class="component-title">Use Watchlist:</span>
                                    <span class="component-desc">Gets new shows from the trakt watchlist</span>
                                </label>
                            </div>
							<div id="content_trakt_use_watchlist">
	                            <div class="field-pair">
	                                <label class="nocheck clearfix">
	                                    <span class="component-title">Watchlist Add Method:</span>
	                                       <select id="trakt_method_add" name="trakt_method_add">
	                                        <option value="0" #if $sickbeard.TRAKT_METHOD_ADD == "0" then 'selected="selected"' else ""#>Skip All</option>
	                                        <option value="1" #if $sickbeard.TRAKT_METHOD_ADD == "1" then 'selected="selected"' else ""#>Download Pilot Only</option>
	                                        <option value="2" #if $sickbeard.TRAKT_METHOD_ADD == "2" then 'selected="selected"' else ""#>Get whole show</option>
	                                    </select>
	                                </label>
	                                <label class="nocheck clearfix">
	                                    <span class="component-title">&nbsp;</span>
	                                    <span class="component-desc">Method to decide which episodes to download in new show</span>
	                                </label>
	                            </div>                            
	                            <div class="field-pair">
	                                <input type="checkbox" name="trakt_remove_watchlist" id="trakt_remove_watchlist" #if $sickbeard.TRAKT_REMOVE_WATCHLIST then "checked=\"checked\"" else ""# />
	                                <label class="clearfix" for="trakt_remove_watchlist">
	                                    <span class="component-title">Remove from Watchlist:</span>
	                                    <span class="component-desc">Remove an episode from the watchlist after it is downloaded</span>
	                                </label>
	                            </div>
	                            <div class="field-pair">
	                                <input type="checkbox" name="trakt_start_paused" id="trakt_start_paused" #if $sickbeard.TRAKT_START_PAUSED then "checked=\"checked\"" else ""# />
	                                <label class="clearfix" for="trakt_start_paused">
	                                    <span class="component-title">Start Paused:</span>
	                                    <span class="component-desc">Starts shows grabbed from trakt watchlist paused</span>
	                                </label>
	                            </div>
							</div>
                            <div class="testNotification" id="testTrakt-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Trakt" id="testTrakt" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_trakt //-->
                    </fieldset>
                </div><!-- /trakt component-group //-->


            </div><!-- /config-components //-->
        </form>

	    <br/><input type="submit" class="config_submitter btn" value="Save Changes" /><br/>

    </div>

</div>

<div class="clearfix"></div>
<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#config-components').tabs();
//-->
</script>
#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl")
