#import sickbeard
#import datetime
#from sickbeard.common import *

#set global $title="Home"
#set global $header="Plex Controls"

#set global $sbPath = ".."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_top.tmpl")

<style type="text/css">
.sort_data {display:none}
</style>

#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<script>
\$(document).ready(function(){
  \$(".Plex").addClass("btn");
});
</script>
#set $plexNav1 = ['Prev', 'Up', 'Menu']
#set $plexNav2 = ['Left', 'Select', 'Right']
#set $plexNav3 = ['Info', 'Down', 'Home']
#for $action in $plexNav1:
<a href="/home/buttonsPLEX/?&action=$action" class="Plex" id="$action">$action</a>
#end for
</br>
#for $action in $plexNav2:
<a href="/home/buttonsPLEX/?&action=$action" id="$action" class="Plex">$action</a>
#end for
</br>
#for $action in $plexNav3:
<a href="/home/buttonsPLEX/?&action=$action" id="$action" class="Plex">$action</a>
#end for

#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl")