#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Home"
#set global $header="Plex Controls"

#set global $sbPath = ".."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "gui/slick/interfaces/default/inc_top.tmpl")

<style type="text/css">
.sort_data {display:none}
</style>

#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<script>
\$(document).ready(function(){
  \$(".Plex").addClass("btn");
  \$(".Plex").addClass("btn-default");
});
</script>
<ul id="myTab" class="nav nav-tabs">
   <li class="active">
      <a href="#Plex" data-toggle="tab">
         Plex
      </a>
   </li>
   <li><a href="#ios" data-toggle="tab">iOS</a></li>
   <li class="dropdown">
      <a href="#" id="myTabDrop1" class="dropdown-toggle" 
         data-toggle="dropdown">System 
         <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="System">
         #if $sickbeard.USE_DRIVES:<li><a href="#space" tabindex="-1" data-toggle="tab">Free space</a></li>#
         <li><a href="#temps" tabindex="-1" data-toggle="tab">Temps</a></li>
      </ul>
   </li>
</ul>
<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="Plex">
    <div class="btn-group-vertical">
<a href="/home/buttonsPLEX/?&action=Prev" class="Plex" id="Prev"><span class="glyphicon glyphicon-share-alt"></span></a>
<a href="/home/buttonsPLEX/?&action=Left" class="Plex" id="Left"><span class="glyphicon glyphicon-arrow-left"></span></a>
<a href="/home/buttonsPLEX/?&action=Info" class="Plex" id="Info"><span class="glyphicon glyphicon-info-sign"></span></a>
</div><div class="btn-group-vertical">
<a href="/home/buttonsPLEX/?&action=Up" class="Plex" id="Up"><span class="glyphicon glyphicon-arrow-up"></span></a>
<a href="/home/buttonsPLEX/?&action=Select" class="Plex" id="Select"><span class="glyphicon glyphicon-ok-circle"></span></a>
<a href="/home/buttonsPLEX/?&action=Down" class="Plex" id="Down"><span class="glyphicon glyphicon-arrow-down"></span></a>
</div><div class="btn-group-vertical">
<a href="/home/buttonsPLEX/?&action=Menu" class="Plex" id="Menu"><span class="glyphicon glyphicon-list"></span></a>
<a href="/home/buttonsPLEX/?&action=Right" class="Plex" id="Right"><span class="glyphicon glyphicon-arrow-right"></span></a>
<a href="/home/buttonsPLEX/?&action=Home" class="Plex" id="Home"><span class="glyphicon glyphicon-home"></span></a>
</div>

<div class="row">
<span style="margin-right:36.5%">
</span>
<div class="btn-group">
<a href="/home/buttonsPLEX/?&action=RWD" class="Plex" id="Prev"><span class="glyphicon glyphicon-backward"></span></a>
<a href="/home/buttonsPLEX/?&action=RWD" class="Plex" id="Prev"><span class="glyphicon glyphicon-step-backward"></span></a>
<a href="/home/buttonsPLEX/?&action=RWDShort" class="Plex" id="Prev"><span class="glyphicon glyphicon-play"></span></"><span class="glyphicon glyphicon-pause"></span></a>
<a href="/home/buttonsPLEX/?&action=Pause" class="Plex" id="Prev"><span class="glyphicon glyphicon-stop"></span></a>
<a href="/home/buttonsPLEX/?&action=Stop" class="Plex" id="Prev"><span class="glyphicon glyphicon-step-forward"></span></a>
<a href="/home/buttonsPLEX/?&action=FWDShort" class="Plex" id="Prev"><span class="glyphicon glyphicon-forward"></span></a>
</div>
</div>
</div>
   <div class="tab-pane fade" id="ios">
<div class="btn-group">
<button type="button" class="btn btn-default" onclick="window.open('http://raspberrypi:5050/');">CouchPotato</button>
<button type="button" class="btn btn-default" onclick="CouchPotatoScan()">Renamer</button>
</div>

  <a href="EG-Action.php?event=PlexOpen&REFERER=index.php&REFERER=index.php" class="btn btn-default">Open Plex</span></a>
  </div>
   <div class="tab-pane fade" id="space">
#if $sickbeard.USE_DRIVES:
 <table>
   #if $sickbeard.USE_DRIVEA:
    <tr>
      <td id="DriveA" width="50%"><h4> $sickbeard.DRIVEA_NAME </h4></td>
        <td>  <div class="progress" style="height:34px;">
        <span class="progress-val">$space[0]</span>
          <div class="bar">    <div class="progress-in" style="width: $width[0]"></div></div>
              </div>
      </td>
    </tr>
    #end if
    #if $sickbeard.USE_DRIVEB:
    <tr>
      <td id="DriveB" width="50%"><h4> $sickbeard.DRIVEB_NAME </h4></td>
        <td>  <div class="progress" style="height:34px;">
        <span class="progress-val">$space[1]</span>
        <div class="bar">    <div class="progress-in" style="width: $width[1]"></div></div>
             </div>
      </td>
    </tr>
    #end if
    #if $sickbeard.USE_DRIVEC:
    <tr>
      <td id="DriveC" width="50%"><h4> $sickbeard.DRIVEC_NAME </h4></td>
        <td>  <div class="progress" style="height:34px;">
        <span class="progress-val">$space[2]</span>
        <div class="bar">    <div class="progress-in" style="width: $width[2]"></div></div>
              </div>
      </td>
    </tr>
    #end if
  </table>
#end if

   <div class="tab-pane fade" id="temps">
<table class="table">
<tr>
#set $headings = ['System', 'CPU', 'HD1', 'HD2', 'Core', 'GPU', 'Fan Speed']
#for $hd in $headings:
<th id="$hd">$hd</th>
#end for
</tr>
#for $i in $temps:
    <td id="$i">$i</td>
#end for
</tr>
</table>
   </div>
</div>


#include $os.path.join($sickbeard.PROG_DIR,"gui/slick/interfaces/default/inc_bottom.tmpl")